@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
}
:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --Font-size: 18px;
    --font-family: 'Open Sans', 'Poppins', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
.container {
    width: 375px;
    margin: 0 auto;
    padding: 0;
    font-family: var(--font-family);
    text-align: center;
}
.top-bg {
    background-image: url(./images/bg-hero-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--Very-Pale-Cyan);
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px;
}
.header img {
    width: 35%;
    height: 20px;
}
.header button {
    padding: 2px 20px;
    height: 25px;
    border: .5px solid white;
    border-radius: 20px;
    background-color: white;
    font-family: var(--font-family);
    box-shadow: 1px 1px 1px var(--Grayish-Blue);
    font-size: x-small;
    font-weight: 600;
}
.header button:hover {
    box-shadow: none;
    color: var(--Grayish-Blue);
}
.get-started {
    padding: 10px 50px;
    background-color: var(--Pink);
    border: .5px solid var(--Pink);
    border-radius: 20px;
    color: white;
    font-size: x-small;
    font-weight: 600;
    margin: 20px 0;
}
.get-started:hover {
    cursor: pointer;
    background-color: hsl(322, 78%, 79%);
}
.main {
    padding: 0 20px;
}
.main p {
    padding: 0 15px;
}
.main h1 {
    font-weight: 500;
    padding-top: 50px;
}
.mockup img {
    width: 320px;
    margin: 50px 0 30px;
}
.card {
    border: .5px solid white;
    border-radius: 10px;
    padding: 60px 20px 20px;
    margin: 50px 20px;
    box-shadow: .2px .2px .5px .8px rgba(233, 238, 240, 0.6);
}
.footer-main .card-2 {
    border: .5px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-top: -100px;
    box-shadow: .2px .2px .5px .8px rgba(233, 238, 240, 0.6);
    background-color: white;
    color: black;
    text-align: center;
}
.card-img img {
    width: 250px;
}
.footer-main {
    background-color: var(--Very-Dark-Cyan);
    color: white;
    text-align: left;
    font-size: small;
    padding: 20px;
    margin-top: 200px;
}
.bottom-logo {
    margin-top: 50px;
    width: 150px;
    margin-bottom: 15px;
}
.inner-footer a {
    text-decoration: none;
    color: white;
}
.inner-footer a:hover {
    cursor: pointer;
    color: var(--Pink);
    text-decoration: underline;
}
.inner-footer-span {
    padding-left: 20px;
    text-align: left;
}
.footer-flex {
    display: flex;
    height: 30px;
    margin-bottom: 50px;
}
.footer-flex-2 {
    margin-bottom: 20px;
}
.footer-flex img[src] {
    height: 20px;
}
.socials {
    text-align: center;
    font-size: xx-small;
}
.socials img[src] {
    width: 40px;
    border-radius: 50%;
    margin: 20px 10px;
    border: 1px solid white;
    padding: 10px;
}
.socials img[src]:hover {
    cursor: pointer;
    background-color: var(--Pink);
}
.attribution { 
    text-align: center;
    font-size: xx-small;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Desktop Styling */

@media screen and (min-width: 600px) {
    .container {
        width: 100%;
    }
    .header img {
        width: 100px;
        height: 20px;
    }
    .main, .header{
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
    }
    .mockup img {
        width: 700px;
        margin: 50px 0 30px;
    }
    .card-info-main {
        text-align: left;
        padding-right: 50px;
        margin-top: 30px;
        font-size: x-large;
    }
    .main p {
        padding: 0;
    }
    .card {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        border: .5px solid white;
        border-radius: 10px;
        padding: 60px 20px;
        margin: 3% 10%;
        box-shadow: .2px .2px .5px .8px rgba(233, 238, 240, 0.6);
    }
    .card-flip {
        display: flex;
        flex-direction: row;
    }
    .card-img img {
        width: 70%;
    }
    .card-info {
        text-align: left;
        padding-left: 100px;
        padding-right: 100px;
    }
    .footer-main {
        padding-left: 7%;
        padding-right: 4%;
    }
    .footer-main .card-2{
        width: 50%;
        margin: 0 auto;
        margin-top: -100px;
    }
    .inner-footer {
        display: flex;
        justify-content: space-evenly;
    }
    .inner-footer-first {
        width: 25%;
        margin-top: 100px;
        margin-right: 5%;
    }
    .inner-footer-second {
        width: 15%;
        margin-top: 100px;
    }
    .inner-footer-third {
        width: 20%;
        margin-top: 100px;
    }
    .bottom-logo {
        margin-top: -50px;
        width: 150px;
        margin-bottom: 15px;
    }
    .inner-footer-third p {
        margin-top: 60px;
    }
}